<footer class="bg-body-secondary text-base text-center py-2">
  <div class="flex justify-center items-center">
    <h5>Contact to me from here!</h5>
    <a
      href="mailto:wattech3371@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/email.svg"
        alt="Email"
        class="w-4 h-4 hover:opacity-80 transition-opacity mx-2"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/wataru-okada-509319334"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/linkedin.svg"
        alt="LinkedIn"
        class="w-4 h-4 hover:opacity-80 transition-opacity mx-2"
      />
    </a>
    <a
      href="https://github.com/WataTechJP"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/github.svg"
        alt="GitHub"
        class="w-4 h-4 hover:opacity-80 transition-opacity mx-2"
      />
    </a>
    <a
      href="https://www.instagram.com/6crazyinsane9/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/instagram.svg"
        alt="Instagram"
        class="w-4 h-4 hover:opacity-80 transition-opacity mx-2"
      />
    </a>
    <a
      href="https://www.facebook.com/okada.wataru.79"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/facebook.svg"
        alt="Facebook"
        class="w-4 h-4 hover:opacity-80 transition-opacity mx-2"
      />
    </a>
  </div>
  <hr class="mx-20 my-2 border-gray-400" />
  <p class="text-center text-sm">
    &copy; 2025 Wataru Okada. All rights reserved.
  </p>
</footer>
